<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="UCOBank Test Suite" parallel="false">
    <!-- Retry logic listener -->
    <listeners>
        <listener class-name="Utils.globalretryanalyzerclass"/>
    </listeners>

    <test name="UCOBank Functional Tests via Chrome" preserve-order="true">

        <!-- Parameters for your base setup -->
        <parameter name="browser" value="chrome"/>
        <parameter name="platform" value="Windows"/>
        <groups>
            <run>
                <include name="Documents"/>
<!--                <include name="approve"/>-->
            </run>
        </groups>
        <classes>
            <class name="TestClasses.ApproverTestings"/>
        </classes>

    </test>

</suite>


